// General Styles //

body
    font-family: Futura, sans-serif
    padding: 1em 20%

nav 
	display: flex
	justify-content: center

	ul
		display: flex
		list-style-type: none
		padding: 0

		a
			padding: 10px